.location-input {
    // display: inline-block;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.location-form {
    margin: 0;
    // display: inline-block;
    height: 100%;
    // width: 100%;
    border: $text-grey solid;
    border-width: 0 0 1px 0;
}

.location-input__text {
    width: 200px;
    height: 100%;
    padding: 10px;
    background-color: inherit;

    font-size: 1rem;
    border: none;

    outline: none;
    vertical-align: middle;

    transition: width 0.3s;
}

.location-input__text:focus {
    width: 400px;
}

.search-icon {
    max-height: 50%;
    display: inline-block;
    vertical-align: middle;
}

.api-error {
    color: red;
    display: inline-block;
    padding-right: 10px;
}