.location-input {
    display: inline-block;
    

    height: 100%;
}

.location-input form {
    margin: 0;
    // display: inline-block;
    height: 100%;
    width: 100%;
    border: $text-grey solid;
    border-width: 0 0 1px 0;
}

.location-input__text {
    width: 200px;
    height: 100%;
    // margin: auto;
    padding: 10px;

    font-size: 1.2rem;
    border: none;

    outline: none;
    vertical-align: top;

    transition: width 0.3s;
}

.location-input__text:focus {
    width: 400px;
}

.location-input__submit {
    max-width: 100%;
    height: 100%;
    background: none;
    margin-left: 10px;
    font-size: 1rem;
    border: $light-grey solid 1px;
    vertical-align: top;
    cursor: pointer;
}

.search-icon {
    max-height: 80%;
    display: inline-block;
}
.api-error {
    color: red;
    display: inline-block;
    padding-left: 10px;
}