* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    max-height: 100vh;

    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: $text-grey;
    
}

h1, h3, h4, p {
    margin: 0;
    font-weight: 300;
}
